@import "Variables";

body {
    font-family: 'Nunito', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: $color-background;
    color: $color-font;
}

Navbar{
    position:static;
}

.content {
    padding: 10px;
}
